doctype
html
	head
		title #{title}
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 My Site
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p Akash Jain's Senior Thesis @ Princeton University