/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url(https://fonts.googleapis.com/css?family=Lobster)
@import url(https://fonts.googleapis.com/css?family=Arimo)

/*
 * Store the main color and
 * background color as variables
 */
 
 // https://color.adobe.com/Corporate-Orange-Blue-color-theme-121815/
main-color = #fa5b4d
background-color = #ffffff

navbar-color = #304269
jumbotron-color = #D9E8F5
button-color = #F26101

body
	font-family 'Arimo'
	background-color background-color
	// color #444
		
.navbar-inverse
	background-color navbar-color
	border-color darken(navbar-color, 5%)
	
	.navbar-nav>li>a
		color jumbotron-color
		
	.navbar-brand
		color jumbotron-color

.jumbotron
	font-family 'Lobster'
	background-color jumbotron-color
	
.gist
	.blob-code-inner
		font-size 16px

@media (min-width: 768px)
	.gists
		margin-left 180px
	
.btn-primary,
.btn-primary[disabled]:hover,
.btn-primary:disabled,
.btn-primary:focus,
.btn-primary:visited
	background-color button-color
	border-color darken(button-color, 5%)

.btn-primary:hover,
.btn-primary:active
	background-color darken(button-color, 5%)
	border-color darken(button-color, 10%)