/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Arimo");
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Arimo';
  background-color: #fff;
}
.navbar-inverse {
  background-color: #304269;
  border-color: #2e3f64;
}
.navbar-inverse .navbar-nav>li>a {
  color: #d9e8f5;
}
.navbar-inverse .navbar-brand {
  color: #d9e8f5;
}
.jumbotron {
  font-family: 'Lobster';
  background-color: #d9e8f5;
}
.gist .blob-code-inner {
  font-size: 16px;
}
@media (min-width: 768px) {
  .progress,
  .gists {
    margin-left: 180px;
  }
}
.btn-primary,
.btn-primary[disabled]:hover,
.btn-primary:disabled,
.btn-primary:focus,
.btn-primary:visited {
  background-color: #f26101;
  border-color: #e65c01;
}
.btn-primary:hover {
  background-color: #e65c01;
  border-color: #da5701;
}
.btn-primary:active,
.btn-primary:active:focus {
  background-color: #ce5201;
  border-color: #c24e01;
}
