.jumbotron.text-center
	h1 Examine Browser

	p Generate client code here

.row
	.col-md-4(style="border-right-style: solid; border-right-width: 1px; border-right-color: #D9E8F5")
		h2 1. Select options:

		p Select the criteria you want to choose from:

		form.form-horizontal#radioForm
			form-group
				.radio
					label#browserLabel
						input(type="radio", name="radios", value="x")#browserRadio
						| Browser
			form-group
				.radio
					label#adBlockerLabel 
						input(type="radio", name="radios", value="x")#adBlockerRadio
						| Ad Blocker
			form-group
				.radio
					label#pluginsLabel 
						input(type="radio", name="radios", value="x")#pluginsRadio
						| Plugins
			form-group
				.radio
					label#languageLabel 
						input(type="radio", name="radios", value="x")#languageRadio
						| Language
			form-group
				.radio
					label#touchLabel 
						input(type="radio", name="radios", value="x")#touchRadio
						| Touch Support
			form-group
				.radio
					label#otherLabel 
						input(type="radio", name="radios", value="x")#otherRadio
						| Other variable (whatever you want it to be)
		br

	.col-md-4(style="border-right-style: solid; border-right-width: 1px; border-right-color: #D9E8F5")
		h2 2. Select frequency:

		p When a client lands on your page, send a report at least:

		form.form-horizontal#freqForm
			form-group
				.radio
					label
						input(type="radio", name="radioF", value="x")#instant
						| Instantly
			form-group
				.radio
					label
						input(type="radio", name="radioF", value="x")#hourly
						| Hourly
			form-group
				.radio
					label
						input(type="radio", name="radioF", value="x")#daily
						| Daily
			form-group
				.radio
					label
						input(type="radio", name="radioF", value="x")#weekly
						| Weekly
			form-group
				.radio
					label
						input(type="radio", name="radioF", value="x")#monthly
						| Monthly
		br

		button.btn.btn-primary(type="button", id="keysButton", onclick="getKeys()", disabled="disabled", analytics-on="click", analytics-event="genKeys") Generate!

		

	.col-md-4
		h2 3. Experiment Info:

		p
		p Copy and paste the code below into your website:
		p(id="finalCode", style="font-family: monospace; font-size: 75%; white-space: pre") (Final code will appear here once you fill in the form!)

		hr

		#keyInfo
			p
			p The link to #[b simulate a user] is:
			a#publicKey(style="font-family: monospace;") X
			p
			p The link to #[b access the results] is:
			a#privateKey(style="font-family: monospace;") X

script(src="js/partials/examineBrowser.js")