script(src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js")

.jumbotron.text-center
	h1 Documentation

.h1 #[strong Usage]:

dl.dl-horizontal
	dt Install
	dd #[ Embed the Rappor JS library by including the script in your code: #[code= '<script src="rappor.js"></script>']]

	dt Specify Paramaters
	dd #[em (Optional)]: If you are familiar with the #[a(href="http://research.google.com/pubs/archive/42852.pdf") RAPPOR paper], you can specify the parameters (else you can use the defaults, shown below):
		blockquote(style="font-family: monospace")
			| params = { #[br]
			| 	k: {{k}},  #[br]
			|	h: {{h}},   #[br]
			|	p: {{p}}, #[br]
			|	q: {{q}}, #[br]
			|	f: {{f}}, #[br]
			|	m: {{m}} #[br]
			| } #[br]
			| #[br]
			| server = "http://rappor-js.herokuapp.com/api/v1/records";			
	
	dt Use	
	dd To send #[code= 'true'] do this

	p
	code.gists(data-gist-id="2784d8d7de4a078337d42e5351a4ac61", data-gist-hide-footer="true")