script.
	function myCallback() {
		console.log("callback successful!");

		$("#simButton").removeAttr("disabled");
		
		$("#progBar").removeClass("active");
		$("#progBar").removeClass("progress-bar-striped");
	}


	function formSubmit() {
		var n  = $("#n").val();
		var pK = $("#pubKey").val();
		var s  = $("#s").val().toLowerCase();

		$("#progBar").css("width", "2%");

		defaultParams = {k: 32, h:2, p:0.1, q:0.8, f:0.81, m:64};

		r = new Rappor({ params: defaultParams, publicKey: pK });
		r.send(s, {n: n, callback: myCallback});

		//- r._print();

		$("#progBar").addClass("progress-bar-striped");
		$("#progBar").addClass("active");
		$(".progress").show();

		$("#simButton").attr("disabled", "disabled");
	}

	$(".progress").hide();

	url = window.location.href;
	lastParam = url.substring(url.lastIndexOf('/') + 1);
	if(lastParam != "send") {
		$("#pubKey").val(lastParam);
		$("#expID").css("display", "none");
	}


.jumbotron.text-center
	h1 Send a Report

	p Simulate a client

p Simulate Rappor #[em N] times, with #[em p] probability of sending true (or an optional other string)
p

form.form-horizontal(name="sim", id="sim", onSubmit="formSubmit()", data-toggle="validator")
	.form-group
		label.col-sm-2.control-label(for="n") N
		.col-sm-10
			input.form-control(type="text", name="n", id="n", placeholder="Number of times to submit report", required, pattern="^[1-9][0-9]*$", title="Must be a number")

	.form-group#expID
		label.col-sm-2.control-label(for="group") Experiment ID
		.col-sm-10
			input.form-control(type="text", name="pubKey", id="pubKey", placeholder="Generated on the previous page!", pattern="^[a-f0-9]{12}$", title="Must be a 12-character string")

	.form-group
		label.col-sm-2.control-label(for="s") String
		.col-sm-10
			input.form-control(type="text", name="s", id="s", placeholder="The data you want to report" required)

	.form-group
		.col-sm-offset-2.col-sm-10
			button.btn.btn-primary(id="simButton", type="submit", analytics-on="click", analytics-event="simRappor") Go!
			p
			br
			p
			.progress
				.progress-bar.progress-bar-success#progBar(role="progressbar", aria-valuemin="0", aria-valuemax="100", style="width: 2%; background-color: #72BF3F")
	