script.
	function formSubmit() {
		var n  = $("#n").val();
		var pK = $("#pubKey").val();
		var s  = $("#s").val().toLowerCase();

		simRappor(parseInt(n), pK, s);
	}


.jumbotron.text-center
	h1 Send Report

p Simulate Rappor #[em N] times, with #[em p] probability of sending true (or an optional other string)

form.form-horizontal(name="sim", id="sim", onSubmit="formSubmit()", data-toggle="validator")
	.form-group
		label.col-sm-2.control-label(for="n") N*
		.col-sm-10
			input.form-control(type="text", name="n", id="n", placeholder="Number of times to submit report", required, pattern="^[1-9][0-9]*$", title="Must be a number")

	.form-group
		label.col-sm-2.control-label(for="group") Public Key
		.col-sm-10
			input.form-control(type="text", name="pubKey", id="pubKey", placeholder="Public Key", pattern="^[a-f0-9]{12}$", title="Must be a 12-character string")

	.form-group
		label.col-sm-2.control-label(for="s") String
		.col-sm-10
			input.form-control(type="text", name="s", id="s", placeholder="The string you want to send" required)

	.form-group
		.col-sm-offset-2.col-sm-10
			button.btn.btn-primary(type="submit", analytics-on="click", analytics-event="simRappor") Go!